language: android

jdk:
  - oraclejdk7

android:
  components:
    - android-23
    - tools
    - build-tools-23.0.2
    - extra-android-support
    - extra-android-m2repository

# as per http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false

script:
  - ./gradlew build

notifications:
  email: false

# cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle